<!DOCTYPE html>
<html class="ng-scope" ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        {% include "::_asset.html.twig" %}
    </head>
    <body>
        <div id="sa-login-container" class="container-fluid">
            <div id="sa-login-form">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
