<!DOCTYPE html>
<html class="ng-scope" ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        {% include "::_asset.html.twig" %}
        {% block htmlHeader %}{% endblock %}
    </head>
        
    <body>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="block margin-top-20">
                    <div class="panel panel-default">
                      <div class="panel-body">
                        {% block body %}{% endblock %}
                      </div>
                    </div>        
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>        
        {% block script %}{% endblock %}    
    </body>
</html>