@CHARSET "UTF-8";

.center-content {
    text-align: center !important;
}

.label {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

body .ace_scrollbar-v {
    display: none !important;
}

.center-content {
    text-align: center !important;
}

.d-disable {
    opacity: 0.5;
}

.d-breadcrumb {
    padding:15px 2px;
    background-color:#f5f5f5;
    border-radius:4px
}

.d-hidden {
    display: none;
}

.btn-link:hover {
    background:#FFFFFF;
    text-decoration: none;
}

.navbar-form input, .form-inline input {
    width:auto;
}

.d-loading-background {
    background-color:#ffffff;
    opacity: 0.3;
}

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

#sidebar.affix-top {
    position: static;
}

#sidebar.affix {
    position: fixed;
    top: 80px;
}  

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.d-form-icon-dropdown-menu {
    width: 500px;
}

.d-form-icon-dropdown-menu-items {
    margin: 6px 6px 6px 6px;
    color: #555;
    cursor: pointer;
}

.d-form-icon-dropdown-menu-items:hover {
    margin: 6px 6px 6px 6px;
    color: #337ab7;
    cursor: pointer;
}

.d-form-icon-selected-icon {
    font-size: 15px;
}

.d-pagination-button {
    font-size:x-small;
}            

.d-no-padding {
    padding:0px 0px 0px 0px;
}

.d-no-top-padding {
    padding-top: 0px;
}

.d-no-bottom-padding {
    padding-bottom: 0px;
}

.d-title {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: x-large;
    font-weight: bold;
    display: inline;
}

.d-title-m {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: larger;
    font-weight: bold;
    display: inline;
}

.d-description {
    font-size: medium;
    color: #888;
}

.d-checkable {
    cursor: pointer
}

.d-divider {
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.clearable{
  background: #fff url(data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=) no-repeat right -10px center;
  padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
  transition: background 0.4s;
}
.clearable.x  { background-position: right 5px center; }
.clearable.onX{ cursor: pointer; }

.d-sortable { 
    cursor: move;
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 100%;
}

.d-sortable-items {
    list-style: none;
}

.d-saman-multiple-form { 
    list-style-type: none; 
    margin: 0; 
    
    padding: 0; 
    width: 100%;
}

.d-saman-media-form-dropzone {
    border-style: dashed;
    border-width: 2px;
    border-color: #dddddd;
    border-radius: 4px;
    margin-bottom: 5px;
}

.d-saman-media-form-dropzone-hover {
    border-style: dashed;
    border-width: 2px;
    border-color: #70b8f1;
    border-radius: 4px;
    margin-bottom: 5px;    
    cursor: cell;
    background-color: #f7f7f9;
}

.d-text-muted {
    color: #ccc;
}

.s-loading-1 {
    background-image: url(../img/l1.gif);
    background-repeat: no-repeat;
    width: 16px; /*or your image's width*/
    height: 16px; /*or your image's height*/
    text-decoration: none;
}

.d-no-outline {
    outline:none !important;
}

