<!DOCTYPE html>
<html class="ng-scope" ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        {% include "::_asset.html.twig" %}

        {% javascripts
            '@FlickrBundle/Resources/public/app.js'
            output = 'js/app-front.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}        
    </head>
        
    <body class="container">
        <div class="row margin-top-20">
            <div class="col-md-3">
                <a href="{{ path('admin_app_dashboard')}}">
                    {{ 'icon.setting'|icon }} Admin
                </a>
                {# Show list of all categories #}
                <ul class="list-group" id="categories-container"></ul>                
            </div>
            <div class="col-md-8">
                <div class="block margin-top-20">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            
                            {# Gallery, show list of all photos in the selected category #}
                            <div id="gallery-container">
                                <h3 class="title"></h3>
                                <span class="body">
                                    Please select a category from the left to see images here
                                </span>
                            </div>
                            
                            {# Show more information about a photo #}
                            <div id="photo-container" style="display: none">
                                <div class="row">
                                    <div class="col-md-8 col-xs-12 col-sm-12">
                                        <h3>
                                            <span class="photo-title"></span>
                                        </h3>
                                        <span class="photo-img"></span>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-sm-12">
                                        <button type="button" class="btn btn-primary back-button">Back to Gallery</button>
                                        
                                        <div>
                                            <p>Description: <span class="photo-description"></span></p>
                                            <address>
                                              By: <strong class="photo-owner"></strong>
                                            </address>                                        
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            {# End: Show more information about a photo #}
                            
                        </div>
                    </div>        
                </div>
            </div>
        </div>        
    </body>
</html>